body {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --cornflowercolor: #e7e9fc;
  --cloudcolor: #f4f4fd;
  --greencolor: #31d0aa;
  --lightslatecolor: #8e8f99;
  --dairycolor: #fcfcfc;
  --blackcolor: rgba(0, 0, 0, 0.2);
}

.lists {
  list-style-type: none;
  padding: 0;
}

.links {
  text-decoration: none;
}

.web-logo {
  color: var(--iriscolor);
}

.studio-logo {
  color: var(--navyblue);
}

.studio-footer {
  color: var(--cloudcolor);
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

.section {
  padding: 96px 0;

  @media screen and (min-width: 1158px) {
    padding: 120px 0;
  }
}

.section-no-top-padding {
  padding: 0;
}

.section-grey {
  background-color: var(--cloudcolor);
}

.section .titles {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.bottom-text {
  color: var(--slatecolor);
}

.header-logo {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-address-link {
  color: var(--slatecolor);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--oceancolor);
}

.header-link {
  color: var(--navyblue);
  font-weight: 500;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  border: 2px solid var(--oceancolor);
  background-color: var(--oceancolor);
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.links.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  border: 2px solid var(--oceancolor);
  background-color: var(--oceancolor);
  width: 100%;
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover::after {
  transform: scaleX(1);
}

.current {
  color: var(--iriscolor);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: var(--oceancolor);
}

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    margin-left: 76px;
  }
}

.header-address {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
  }
}

.hero-section {
  padding: 112px 0;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-m@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        188 rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-t.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-t@2x.jpg);
    }
  }
  @media screen and (min-width: 1158px) {
    padding: 188px 0;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-d.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-d@2x.jpg);
    }
  }
}

.hero-title {
  color: var(--whitecolor);
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

.hero-button {
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  font-weight: 500;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--oceancolor);
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.filter-item {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:hover,
.filter-item:focus {
  background: var(--oceancolor);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--whitecolor);
  border-color: var(--oceancolor);
}

.filter {
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.active {
  background: var(--oceancolor);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--whitecolor);
  border-color: var(--oceancolor);
}

.features-svg-box {
  display: none;

  @media screen and (min-width: 1158px) {
    width: 100%;
    height: 112px;
    display: flex;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

.features-title.titles {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 500;
  }
}

.features-item {
  @media screen and (min-width: 768px) {
    width: 356px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    padding-bottom: 0;
  }
}

.what-we-do-list {
  display: none;

  @media screen and (min-width: 1158px) {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.what-we-do-title {
  display: none;

  @media screen and (min-width: 1158px) {
    display: block;
  }
}

.team-list {
  display: flex;
  gap: 72px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 64px 24px;
  }
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;

  @media screen and (min-width: 1158px) {
    gap: 0 24px;
  }
}

.team-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iriscolor);
  color: var(--whitecolor);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--oceancolor);
}

.team-social-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.card-content h3 {
  margin-bottom: 8px;
}

.card-content {
  padding: 32px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 16px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    gap: 24px;
    margin-bottom: 0;
  }
}

.customers-box-link {
  width: 190px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  color: var(--lightslatecolor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1158px) {
    width: 168px;
  }
}

.customers-box-link:hover,
.customers-box-link:focus {
  border-color: var(--oceancolor);
  color: var(--oceancolor);
}

.customers-icon {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

.footer-section {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    justify-content: space-between;
  }
}

.footer-logo {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.footer-social-media-text {
  color: var(--white, #fff);
  font-weight: 500;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-bottom-text {
  color: var(--cloud, #f4f4fd);
  margin-top: 8px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iriscolor);
  color: var(--whitecolor);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--greencolor);
}

.footer-social-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.newsletter-subscription {
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 0;
    width: 453px;
  }
}

.newsletter-title {
  color: var(--white, #fff);
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-left: 123px;
  }

  @media screen and (min-width: 1158px) {
    margin: 0;
  }
}

.newsletter-form {
  @media screen and (min-width: 768px) {
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}

.newsletter-email {
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  letter-spacing: 0.48px;
  color: var(--whitecolor);
  background: transparent;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.newsletter-email:hover,
.newsletter-email:focus {
  border-color: var(--oceancolor);
}

.newsletter-email::placeholder {
  color: var(--whitecolor);
}

.newsletter-subscription-button {
  background-color: var(--iriscolor);
  border-radius: 4px;
  border: 0;
  margin: 16px auto 0;
  cursor: pointer;
  width: 165px;
  height: 40px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: var(--whitecolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.newsletter-subscription-button:hover,
.newsletter-subscription-button:focus {
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.newsletter-subscription-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 16px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: 72px 18px;
    justify-content: flex-start;
  }
}

.project-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

.project-link {
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  background-color: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px 164px;
  color: var(--cloudcolor);
  background-color: var(--iriscolor);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-cover-text,
.project-link:focus .project-cover-text {
  transform: translateY(0);
}

/* Modal window */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--blackcolor);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: var(--dairycolor);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--navybluemodalcolor);
  background-color: var(--cornflowercolor);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 34px;
  font-weight: 500;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.form-label {
  position: absolute;
  top: -18px;
}

.form-field {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  position: relative;
  margin-bottom: 26px;
}

.form-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--iriscolor);
}

.form-input:focus + .form-input-icon,
.form-input:hover + .form-input-icon {
  fill: var(--iriscolor);
  border-color: var(--iriscolor);
}

.form-input-icon {
  position: absolute;
  fill: var(--navybluemodalcolor);
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 18px;
  height: 18px;
}

.form-order-comment {
  resize: none;
  width: 360px;
  padding: 8px 16px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-order-comment:hover,
.form-order-comment:focus {
  border-color: var(--iriscolor);
}

.form-order-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  width: 360px;
}

.form-checkbox {
  appearance: none;
  position: absolute;
}

.form-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  fill: none;
  width: 16px;
  height: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkmark-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  cursor: pointer;
}

.form-checkbox:checked + .form-checkbox-icon {
  border-color: var(--iriscolor);
  background-color: var(--iriscolor);
  fill: var(--whitecolor);
}

.form-privacy-policy {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
}

.form-terms-link {
  color: var(--iriscolor);
  cursor: pointer;
}

.modal-send-btn {
  color: var(--whitecolor);
  padding: 16px 32px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 169px;
  margin-top: 24px;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 22px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-hamburger-icon {
  fill: currentColor;
  border: none;
}

.js-close-menu {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
  width: 24px;
  height: 24px;
}

.menu-hamburger-close-icon {
  width: 8px;
  height: 8px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px 40px 40px 40px;
  background-color: var(--whitecolor);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-item {
  margin-bottom: 32px;
}

.mobile-menu-link {
  display: block;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.current {
  color: var(--iriscolor);
}

.mobile-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.mobile-address .phone {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--iriscolor);
}

.mobile-address-link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover,
.mobile-address-link:focus {
  color: var(--oceancolor);
}

/* Mobile Socials */
.mobile-social-list {
  display: flex;
  justify-content: space-betweens;
  gap: 35px;
  margin-top: 48px;
  margin-bottom: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--whitecolor);
  background-color: var(--iriscolor);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--oceancolor);
}

.mobile-social-icon {
  fill: currentColor;
}
